[Unit]
Description=Webchat Robo %i
AssertPathExists=/usr/local/webchat/bin/whatsapp

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/local/webchat/bin/whatsapp --data %i >> /var/log/webchat_%i

[Install]
WantedBy=multi-user.target
